.cowin-dashboard-bg {
  background-color: #161625;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.cowin-responsive-container {
  width: 80%;
}

.cowin-logo-container {
  display: flex;
  align-items: center;
}

.cowin-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.co-win-title {
  color: #2cc6c6;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 600;
}

.heading {
  color: #cbd5e1;
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: 500;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.failure-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.failure-image {
  width: 40%;
}

.failure-heading {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 25px;
  font-weight: 600;
}
